@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
<div class="text-center">
    <img id="meme" src="https://statics.memondo.com/p/99/gifs/2012/03/GIF_102409_5a862053c9b94c41b5b5dcf3cbf062f5_callate_y_toma_mi_dinero_thumb.jpg?cb=8085692" />
</div>
